.title__container {
  margin: 0 auto;
}

.title__subtitle {
  font-size: 40px;
  margin-bottom: 0;
}

.title__boarder {
  width: 218px;
  height: 7px;
  background-color: black;
}

.title__descr {
  font-size: 25px;
}

.title__descr p {
  margin-left: 10px;
}
