.menu__breakfast {
  &-container {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    .breakfast__name {
      &-item {
        text-transform: uppercase;
        font-weight: 600;
        color: #000000;

        &_breakfast {
          text-transform: uppercase;
          font-weight: 600;
          color: #000000;
          margin-bottom: 0;
        }
      }

      &-desc {
        font-size: 12px;
        text-transform: uppercase;
        font-weight: 600;
        color: #000000;
      }
    }
  }

  &__subtitle {
    margin: 0 auto;
    margin-bottom: 30px;

    &-breakfast {
      margin-bottom: 0;
    }
  }

  &__boarder {
    width: 125px;
    height: 7px;
    background-color: black;
  }
}

.breakfast__price {
  flex-shrink: 0;

  @media (max-width: 768px) {
    margin-left: 2rem;
  }
}
