.footer {
  position: relative;

  @media (max-width: 768px) {
    width: 100vw;
    margin-left: -50vw;
    left: 50%;
  }

  &__info {
    position: absolute;
    top: 90px;
    left: 70px;
    background-color: #ffffff;
    border-left: 10px solid black;
    padding: 1rem;

    @media (max-width: 768px) {
      top: 0;
      left: 0;
    }
  }

  &__item {
    color: rgb(0, 0, 0);
    margin: 20px 0 0 0;
  }

  &__addr {
    font-size: 20px;
    margin: 5px 0 0 0;
  }

  &__desc {
    width: 170px;
    font-size: 12px;
  }

  &__social {
    display: flex;

    &-item img {
      width: 40px;
      margin-right: 10px;
    }
  }
}
