.title {
    &__container {
        margin: 0 auto;  
    }

    &__subtitle {
        margin-bottom: 0;
    }

    &__boarder {
        width: 218px;
        height: 7px;
        background-color: black;
    }

    &__descr {
        font-size: 25px;
    }

    &__descr p {
        margin-left: 10px;
    }
}
