.header {

    // background-color: white;
    // position: fixed;
    // z-index: 9999999999999999;
    // min-width: 768px;

    &__container {
    // max-width: 950px;
    width: 100%;
    margin: 0 auto;
    
    }

    &__link {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__item {
        font-family: 'Montserrat', sans-serif;
        font-size: 25px;
        font-weight: 700;
        text-decoration: none;
        color: black;
        scroll-behavior: smooth;
        &:hover {
            border-bottom:4px solid black ;     
        }
        
    }
    &__img {
            width: 150px;
            height: 75px;
            cursor: pointer;
    }

    .hamburger {
        display: none;
    }

     }

     
     @import"./media.scss";

