@media (max-width: 414px) {
    .header {
        &__img {
            width: 85px;
        }

        &__item {
            font-size: 14px;
        }
    }

    .title {
        &__subtitle {
            font-size: 24px;
        }

        &__boarder {
            width: 125px;
            height: 5px;
        }

        &__descr {
            font-size: 16px;
            & p {
                margin: 0;
                margin-top: 20px;
            }
        }
    }

    .menu {

        &__boarder {
            width: 80px;
            height: 5px;
        }

        &__subtitle {
            &-coffee {
                font-size: 25px;
                margin-top: 40px;
            }
        }
        .coffee {
            &__name-item {
                font-size: 11px;
            }
        }

        &__bonus {
            font-size: 10px;
            margin-top: 20px;
        }
    }

    .menu__eat {
       &-container {
           .eat__name {
               &-item {
                   font-size: 11px;
               }

               &-desc {     
                    font-size: 9px;
                    width: 300px;
               }
           }
       } 
    }

    .menu__breakfast {
        padding: 0;
        .breakfast__sub {
            font-size: 17px;
            margin-bottom: 0;
        }
    }
    .menu__breakfast-container {

        .breakfast__name {
        &-item {
            font-size: 11px;
        }
        &-desc {
            font-size: 9px;
        }
    }
    }

    .catalog__content {
        justify-content: center;
    }

    .footer__info {
        top: 0px;
        left: 0px;
        width: 217px;
        height: 181px;
    }
}



@media (max-width: 428px) {
    .header {
        &__img {
            width: 90px;
        }

        &__item {
            font-size: 15px;
        }
    }

    .title {
        &__subtitle {
            font-size: 24px;
        }

        &__boarder {
            width: 125px;
            height: 5px;
        }

        &__descr {
            font-size: 16px;
            & p {
                margin: 0;
                margin-top: 20px;
            }
        }
    }

    .menu {

        &__boarder {
            width: 80px;
            height: 5px;
        }

        &__subtitle {
            &-coffee {
                font-size: 25px;
                margin-top: 40px;
            }
        }
        .coffee {
            &__name-item {
                font-size: 11px;
            }
        }

        &__bonus {
            font-size: 10px;
            margin-top: 20px;
        }
    }

    .menu__eat {
       &-container {
           .eat__name {
               &-item {
                   font-size: 11px;
               }

               &-desc {     
                    font-size: 9px;
                    width: 300px;
               }
           }
       } 
    }

    .menu__breakfast {
        padding: 0;
        .breakfast__sub {
            font-size: 17px;
            margin-bottom: 0;
        }
    }
    .menu__breakfast-container {

        .breakfast__name {
        &-item {
            font-size: 11px;
        }
        &-desc {
            font-size: 9px;
        }
    }
    }

    .catalog__content {
        justify-content: center;
    }

    .footer__info {
        top: 0px;
        left: 0px;
        width: 217px;
        height: 181px;
    }
}

