.menu__eat {
    // height: 725px;

    &-container {
        // width: 695px;
        margin: 0 auto;
        display: flex; 
        justify-content: space-between;
        
        .eat__name {
            &-item {
                font-size: 18px;
                text-transform: uppercase;
                font-weight: 600;
                color: #000000;
                &_eat {
                    font-size: 18px;
                    text-transform: uppercase;
                    font-weight: 600;
                    color: #000000;
                    margin-bottom: 0; 
                }
            }
            &-desc {
                font-size: 12px;
                text-transform: uppercase;
                font-weight: 600;
                color: #000000;
                // width: 470px;
            }
        }
        
    }

    &__subtitle {
        // width: 1020px;
        margin: 0 auto;
        margin-bottom: 30px;
        &-eat {
            font-size: 40px;
            margin-bottom: 0;
        }  
    }

    &__boarder {
        width: 125px;
        height: 7px;
        background-color: black;
    }

   
}

@import"./media.scss";
