.title {
    // height: 450px;
    &__container {
        // width: 1020px;
        margin: 0 auto;  
    }
    &__subtitle {
        font-size: 40px;
        margin-bottom: 0;
    }
    &__boarder {
        width: 218px;
        height: 7px;
        background-color: black;
    }
    &__descr {
        font-size: 25px;
    }

    &__descr p {
        margin-left: 10px;
    }
}

@import"./media.scss";